.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.side-bar {
  border-left: 2px solid rgba(197, 195, 195, 0.4);
  border-top: 2px solid rgba(197, 195, 195, 0.4);
  height: 100%;
}

.msg-btn {
  padding: 5px;
  border-radius: 6px;
  border: 2px solid gray;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  color: gray;
}

.msg-btn:hover,
.btn.btn-prim:hover {
  border-color: blue;
  color: blue;
}

.btn.btn-prim {
  color: gray;
  border: 2px solid gray;
}

.card {
  width: 180px;
  border: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card .title {
  font-weight: bold;
  font-size: 0.6rem;
  background: lightgreen;
  border-radius: 8px 8px 0px 0px;
}

.card .message {
  font-size: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

p {
  margin-bottom: 0;
}

.label {
  color: gray;
}

.edit-container {
  border-bottom: 2px solid rgba(197, 195, 195, 0.4);
}

.edit-back-container {
  border-bottom: 2px solid rgba(197, 195, 195, 0.4);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.05);
}
